<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Откройте-таблицу-и-изучите-общую-информацию-о-данных" data-toc-modified-id="Откройте-таблицу-и-изучите-общую-информацию-о-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Откройте таблицу и изучите общую информацию о данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Удаление-пропусков-(продолжение)" data-toc-modified-id="Удаление-пропусков-(продолжение)-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Удаление пропусков (продолжение)</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Категоризация данных</a></span></li><li><span><a href="#Шаг-3.-Исследуйте-данные-и-ответьте-на-вопросы" data-toc-modified-id="Шаг-3.-Исследуйте-данные-и-ответьте-на-вопросы-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Шаг 3. Исследуйте данные и ответьте на вопросы</a></span><ul class="toc-item"><li><span><a href="#3.1-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.1-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-2.7.1"><span class="toc-item-num">2.7.1&nbsp;&nbsp;</span>3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#3.2-Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.2-Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-2.7.2"><span class="toc-item-num">2.7.2&nbsp;&nbsp;</span>3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#3.3-Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.3-Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-2.7.3"><span class="toc-item-num">2.7.3&nbsp;&nbsp;</span>3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#3.4-Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="3.4-Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-2.7.4"><span class="toc-item-num">2.7.4&nbsp;&nbsp;</span>3.4 Как разные цели кредита влияют на его возврат в срок?</a></span></li><li><span><a href="#3.5-Приведите-возможные-причины-появления-пропусков-в-исходных-данных." data-toc-modified-id="3.5-Приведите-возможные-причины-появления-пропусков-в-исходных-данных.-2.7.5"><span class="toc-item-num">2.7.5&nbsp;&nbsp;</span>3.5 Приведите возможные причины появления пропусков в исходных данных.</a></span></li><li><span><a href="#3.6-Объясните,-почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных." data-toc-modified-id="3.6-Объясните,-почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных.-2.7.6"><span class="toc-item-num">2.7.6&nbsp;&nbsp;</span>3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.</a></span></li></ul></li><li><span><a href="#Шаг-4:-общий-вывод." data-toc-modified-id="Шаг-4:-общий-вывод.-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Шаг 4: общий вывод.</a></span></li></ul></li></ul></div>

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv(r"C:\Users\maste\OneDrive\Рабочий стол\data.csv")

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Оценим пропущенные значения, попробуем найти закономерности:

In [5]:
data[data['total_income'].isna()].head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу
65,0,NaN,21,среднее,1,Не женат / не замужем,4,M,компаньон,0,NaN,операции с коммерческой недвижимостью
67,0,NaN,52,высшее,0,женат / замужем,0,F,пенсионер,0,NaN,покупка жилья для семьи
72,1,NaN,32,высшее,0,женат / замужем,0,M,госслужащий,0,NaN,операции с коммерческой недвижимостью
82,2,NaN,50,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,жилье
83,0,NaN,52,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,жилье
90,2,NaN,35,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,операции с жильем
94,1,NaN,34,высшее,0,гражданский брак,1,F,компаньон,0,NaN,на проведение свадьбы
96,0,NaN,44,СРЕДНЕЕ,1,женат / замужем,0,F,сотрудник,0,NaN,покупка жилой недвижимости
97,0,NaN,47,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,профильное образование
120,0,NaN,46,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,высшее образование
121,0,NaN,29,высшее,0,женат / замужем,0,F,компаньон,0,NaN,автомобиль
135,0,NaN,27,среднее,1,женат / замужем,0,M,компаньон,0,NaN,жилье
141,0,NaN,39,среднее,1,гражданский брак,1,M,сотрудник,0,NaN,свадьба
145,0,NaN,62,среднее,1,женат / замужем,0,M,пенсионер,0,NaN,строительство недвижимости
174,0,NaN,55,высшее,0,вдовец / вдова,2,F,компаньон,0,NaN,свой автомобиль

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Проверим какие уникальные значения содержатся в столбце 'debt'

In [23]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data['debt'].unique()

array([0, 1], dtype=int64)

Столбец 'debt' содержит 0 и 1, соответственно можно сделать вывод, что он содержит данные "есть задолженность" = 1 или "нет задолженности" = 0

Составим сводную таблицу зависимости кол-ва детей и кол-ва задолженности:

In [24]:
#Составим сводную таблицу зависимости кол-ва детей и кол-ва задолженности
data_pivot_children = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_children

          count   sum      mean
           debt  debt      debt
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

Посчитаем процент должников в каждой группе и добавим соответствующий столбец. Отсортируем значения по убыванию.

In [25]:
data_pivot_children['percent_debts'] = data_pivot_children['mean']*100
data_pivot_children.sort_values(by='percent_debts', ascending=False)

          count   sum      mean percent_debts
           debt  debt      debt
children
4            41     4  0.097561      9.756098
2          2052   194  0.094542      9.454191
1          4808   444  0.092346      9.234609
3           330    27  0.081818      8.181818
0         14091  1063  0.075438      7.543822
5             9     0  0.000000      0.000000

Заемщики, имеющие 4 и 5 детей составляют небольшое кол-во от общего числа заемщиков, однаком их результаты существенно выбиваются на фоне остальных. Поэтому считаю необходимым объединить заемщиков, имеющих 3 и более детей.

In [26]:
def children_count(count):
    if count >= 3:
        return '3+'
    else:
        return count
    
data['children'] = data['children'].apply(children_count)

Посчитаем процент должников с обновленными данными:

In [27]:
data_pivot_children = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_children['percent_debts'] = data_pivot_children['mean']*100
data_pivot_children.sort_values(by='percent_debts', ascending=False)

          count   sum      mean percent_debts
           debt  debt      debt
children
2          2052   194  0.094542      9.454191
1          4808   444  0.092346      9.234609
3+          380    31  0.081579      8.157895
0         14091  1063  0.075438      7.543822

**Вывод:** 
1. Заемщики, имеющие 1 и 2 ребенка, имеют наибольшей процент задолженностей и представляют наиболее рискованную группу
2. Заемщики, не имеющие детей и имеющие более 3х детей, представляют наименее рискованную группу

Зависимость между количеством детей и возвратом кредита в срок имеется

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Составим сводную таблицу зависимости семейного положения и задолженности:

In [28]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot_family = data.pivot_table(index='family_status', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_family

                       count  sum      mean
                        debt debt      debt
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

Посчитаем процент должников в каждой группе и добавим соответствующий столбец. Отсортируем значения по убыванию.

In [29]:
data_pivot_family['percent_debts'] = data_pivot_family['mean']*100
data_pivot_family.sort_values(by='percent_debts', ascending=False)

                       count  sum      mean percent_debts
                        debt debt      debt
family_status
Не женат / не замужем   2796  273  0.097639      9.763948
гражданский брак        4134  385  0.093130      9.313014
женат / замужем        12261  927  0.075606      7.560558
в разводе               1189   84  0.070648      7.064760
вдовец / вдова           951   63  0.066246      6.624606

**Вывод:** 
По полученным результатам можно сделать выводы:
1. Наиболее рискованная группа заемщиков со статусом семейного положения - "Не женат / не замужем"
2. Наиболее безопасны заемщики со статусами "в разводе","вдовец / вдова" и "женат / замужем"

Зависимость между семейным положением и возвратом кредита в срок имеется.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Составим сводную таблицу зависимости категории уровня дохода и задолженности:

In [30]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot_income = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_income

                       count   sum      mean
                        debt  debt      debt
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

Посчитаем процент должников в каждой группе и добавим соответствующий столбец. Отсортируем значения по убыванию.

In [31]:
data_pivot_income['percent_debts'] = data_pivot_income['mean']*100
data_pivot_income.sort_values(by='percent_debts', ascending=False)

                       count   sum      mean percent_debts
                        debt  debt      debt
total_income_category
E                         22     2  0.090909      9.090909
C                      15921  1353  0.084982      8.498210
A                         25     2  0.080000      8.000000
B                       5014   354  0.070602      7.060231
D                        349    21  0.060172      6.017192

**Вывод:** 
Наименьший риск представляют заемщики с доходом от 30000 до 50000.
Прямой зависимости между уровнем дохода и возвратом кредита в срок не наблюдается.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Составим сводную таблицу зависимости групп целей и задолженности:

In [32]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot_purpose = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_purpose

                          count  sum      mean
                           debt debt      debt
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

Посчитаем процент должников в каждой группе и добавим соответствующий столбец. Отсортируем значения по убыванию.

In [33]:
data_pivot_purpose['percent_debts'] = data_pivot_purpose['mean']*100
data_pivot_purpose.sort_values(by='percent_debts', ascending=False)

                          count  sum      mean percent_debts
                           debt debt      debt
purpose_category
операции с автомобилем     4279  400  0.093480      9.347978
получение образования      3988  369  0.092528      9.252758
проведение свадьбы         2313  183  0.079118      7.911803
операции с недвижимостью  10751  780  0.072551      7.255139

**Вывод:** 
1. Наиболее рискованная группа заемщиков, берущих кредиты с целями: операции с автомобилем, получение образования
2. Более безопасные группы заемщиков с целями: проведение свадьбы, операции с недвижимостью

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
- пропуски данных при заполнении
- непредоставление свединий клиентами
- ошибки при копировании

Пропуски присутствуют в столбцах 'days_employed' и 'total_income' и имеют одинаковое кол-во. Можно предположить, что причиной пропуска является то, что данные заемщики не являются трудоустроенными и не имеют трудового стажа и соответственно дохода.
Проверим есть ли зависимость между пропусками и типом занятости.

Найдем все уникальные значения столбца income_type:

In [34]:
data['income_type'].unique()

array(['сотрудник', 'пенсионер', 'компаньон', 'госслужащий',
       'безработный', 'предприниматель', 'студент', 'в декрете'],
      dtype=object)

Выдвинем гипотезу, что данные отсутсвуют у заемщиков со статусом 'безработный', 'студент', 'в декрете'

Сгруппируем данные по типу занятости и посчитаем кол-во заемщиков:

In [35]:
data.groupby('income_type').count()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,debt,total_income,purpose,total_income_category,purpose_category
income_type,,,,,,,,,,,,,
безработный,2,2,2,2,2,2,2,2,2,2,2,2,2
в декрете,1,1,1,1,1,1,1,1,1,1,1,1,1
госслужащий,1451,1451,1451,1451,1451,1451,1451,1451,1451,1451,1451,1451,1451
компаньон,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047
пенсионер,3812,3812,3812,3812,3812,3812,3812,3812,3812,3812,3812,3812,3812
предприниматель,2,2,2,2,2,2,2,2,2,2,2,2,2
сотрудник,11015,11015,11015,11015,11015,11015,11015,11015,11015,11015,11015,11015,11015
студент,1,1,1,1,1,1,1,1,1,1,1,1,1

Анализ типа занятости и пропусков гипотезу не подтвердил и какой-либо закономерности в пропусках не выявил.\
Таким образом, можно предположить, что причиной пропусков является непредоставление данных клиентами либо в связи с отсуствием реальной трудовой деятельности, либо в связи с невозможностью документально подтвердить свой стаж и доход.\
Либо имеет место техническая ошибка при заполнении данных

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 
При заполнении количественных данных медианным значением исключается значительное влияние аномальных значений на общие результаты исследования

### Шаг 4: общий вывод.

В результате исследования выявлена зависимость между количеством детей, семейным положением и целью получения кредита. Явной зависимости между уровнем дохода и возвратом кредита в срок не выявлено.

Наименее рискованные группы заемщиков: 
1. Не имеющие детей и имеющие более 3х детей
2. Со статусами "в разводе", "вдовец / вдова" и "женат / замужем"
3. С целью кредитования: "проведение свадьбы", "операции с недвижимостью"

Группа риска:
1. Имеющие 1 и 2 ребенка
2. Со статусом семейного положения - "Не женат / не замужем"
3. С целями кредита: операции с автомобилем, получение образования